.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(8, 39, 66);
  color: white;
  min-height: 10vh;
}

.nav-links {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-links li {
  padding: 15px;
  cursor: pointer;
}